/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #f9f9f9;
}

footer {
  text-align: center;
  color: #999;
}

footer a {
  color: #999;
}

#main-content {
    max-width: 400px;
    margin: 0 auto;
}

.labels-list {
    list-style: none;
    padding: 0;
}

.labels-list-element {
    background: #fff;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.labels-list-element.overweight {
    background: rgba(232,185,181, .3);
}


.labels-list-element h3 {
    margin: 0;
}

.label-details {
    margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;

}

th, td {
  border: 1px solid #666;
  width: 50%;
  padding: 5px;
  border-spacing: 0;
}
